<h1> New Users Registery </h1>

<%= form_for(@user, url: '/account_verify') do |form| %>

  <div class="fields">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="fields">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div

  <div class="fields">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class="actions">
    <%= form.submit "Register" %>
  </div>

<% end %>
