
<h1 data-controller="favorite"><%= @course.name %> 
  <%if user_signed_in? && current_user.favorite_courses.include?(@course) %>
  <button data-favorite-target="btn"
          data-action="click->favorite#like" id="like-btn" class="favorited" data-id="<%= @course.id %>" >LIKE</button>
  <% else%>
  <button data-favorite-target="btn" data-action="click->favorite#like" id="like-btn" data-id="<%= @course.id %>" >LIKE</button>
  <% end %>
</h1>

<button><%= link_to "Buy Course", buy_course_path(@course) %></button>
 
<%= form_for(@review, url: course_reviews_path(@course), remote:true) do |form|%>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :rating %>
    <%= form.select :rating, [1, 2, 3, 4, 5], include_blank: true, selected: 3 %>
  </div>

    <div><%= form.submit %></div>
    
  <% end %>

  <h2> Course Review </h2>
  <% @reviews.each do |review| %>
  <section> 
    <%= review.rating %>
  </section>
  <header><%= review.title %></header>
  <article><%= review.content %></article>

  <% end %>

  <%= link_to "Course Index", courses_path %> 


  <!--<%if user_signed_in? && current_user.favorite_courses.include?(@course) %>
  <button data-favorite-target="btn"
          data-action="click->favorite#like" id="like-btn" class="favorited" data-id="<%= @course.id %>" >LIKE</button>
  <% else%>
  <button data-favorite-target="btn" data-action="click->favorite#like" id="like-btn" data-id="<%= @course.id %>" >LIKE</button>
  <% end %>--!>